[Unit]
Description=Harbinger Service
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/harbinger
RestartSec=1
User=harbinger
ExecStart=screen -S harbinger /usr/bin/runHarbinger
ExecStop=/usr/bin/stopHarbinger

[Install]
WantedBy=multi-user.target