[Unit]
Description=Harbinger Service
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/harbinger
RestartSec=1
User=harbinger
ExecStart=screen -dmS harbinger /usr/bin/runHarbinger

[Install]
WantedBy=multi-user.target