[Unit]
Description=Harbinger Service
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/harbinger
RestartSec=2
User=harbinger
ExecStart=/usr/bin/runHarbingerS2
ExecStop=/usr/bin/stopHarbinger

[Install]
WantedBy=multi-user.target